<div id="hide-me">
  <h1>Todo List!</h1>
  <ol>
    <li id="first-item">Shopping</li>
    <li>Clean the house</li>
    <li>Test for the car</li>
  </ol>
</div>
<script>
  // document.getElementById('hide-me').style.display = 'none'

  document.getElementById('first-item').addEventListener('click', () => {
    alert('i was clicked!')
  })

  /*
    here is
    my very long
    comment
  */

</script>

<!--
  * document.getElementById
  * style
  * display
-->