<div id="hide-me">Hide me!</div>
<button onclick="hide()">Hide</button>
<script>
  function hide() {
    document.getElementById('hide-me').style.display = 'none'
  }
</script>

<!--
  * functions
  * onclick event
  * "calling" a function
-->