<input type="text" id="hide-me">
<button onclick="checkIt()">
  Check that I'm a single digit number
</button>
<script>
  function checkIt() {
    const element = document.getElementById('hide-me')
    if (element.value >= 10) {
      alert('it is too big!')
    }
  }

  /* eslint no-unused-vars: 0 */

</script>

<!--
  * input value
  * if
  * validation
-->