<body>
  <label>
      Age of first child:
      <input type="text" id='first-child-age'>
    </label>
  <label>
      Age of second child:
      <input type="text" id='second-child-age'>
    </label>
  <button onclick="checkIt()">Check me</button>
  <script>
    function checkIt() {
      if (parseInt(document.getElementById('first-child-age').value) <
        parseInt(document.getElementById('second-child-age').value)) {
        alert('First child has to be older than second child!');
      } else {
        document.getElementById('first-child-age').value = ''
        document.getElementById('second-child-age').value = ''
      }
    }
      /* eslint no-unused-vars: 0 */
  </script>
</body>

<!--
  * input value
  * if
  * validation
-->